.content {
  display: flex;
}

.attribute {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 50px;
}

.attribute:first-child {
  padding-right: 20px;
}

.slider {
  margin: 0 20px 0 7px;
}
