.content {
  display: flex;
}

.attribute {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 200px;
  height: 50px;
  padding: 0 20px;
}

.slider {
  margin: 0 20px 0 7px;
}
