@value muiBlue from "../../../../styles/colors.css";

.crossed {
  text-decoration: line-through;
}

.label {
  cursor: text;
  min-width: inherit;
  word-wrap: break-word;
}

.textfield input:focus {
  color: white !important; /* override material ui theme */
}
