@value muiBlue from "../../styles/colors.css";

.header {
  display: flex;
  justify-content: space-between;
}

.checkboxAndLabelContainer {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.checkbox {
  color: muiBlue !important; /* override material ui theme */
}

.deleteIcon {
  cursor: pointer;
}
