@value darkGrey from "../../styles/colors.css";

.todoList {
  padding: 0;
  width: 100%;
  max-width: 470px;
}

.todo {
  background-color: darkGrey;
  list-style: none;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 430px;
}
